$sidebar-width: 290px;
$header-height: 64px;

$brand-dark: #292b2b;
$white: #ffffff;
$black: #000000;
$primary: #e0241c;
$primary-light-1: #e65049;
$primary-light-2: #ec7c77;
$primary-light-3: #f3a7a4;
$primary-light-4: #f9d3d2;
$primary-dark-1: #a81b15;
$primary-dark-2: #70120e;
$primary-dark-3: #380907;
$gray-1: #525656;
$gray-2: #7a8182;
$gray-3: #b8c2c2;
$gray-4: #ccd7d8;
$gray-5: #dbe3e4;
$gray-6: #e6ebec;
$gray-7: #f0f3f3;
$gray-8: #f5f7f7;

body {
  background-color: $gray-8 !important;
}
