$sidebar-width: 290px;
$header-height: 64px;

$brand-dark: #292b2b;
$white: #ffffff;
$black: #000000;
$primary: #e0241c;
$primary-light-1: #e65049;
$primary-light-2: #ec7c77;
$primary-light-3: #f3a7a4;
$primary-light-4: #f9d3d2;
$primary-dark-1: #a81b15;
$primary-dark-2: #70120e;
$primary-dark-3: #380907;
$gray-1: #525656;
$gray-2: #7a8182;
$gray-3: #b8c2c2;
$gray-4: #ccd7d8;
$gray-5: #dbe3e4;
$gray-6: #e6ebec;
$gray-7: #f0f3f3;
$gray-8: #f5f7f7;
$graphy-1: #edc612;
$graphy-2: #12ed5f;
$graphy-3: #4312ed;

body {
  position: relative;
  background-color: $gray-8 !important;
}

.app-card-list {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 32px 24px;
}

.app-card {
  flex: 1 1 auto;
  width: 40%;
  min-height: 320px;
  display: flex;
  flex-direction: column;
  padding: 24px 32px;
  border-radius: 4px;
  background-color: $white;
  box-shadow: 0 0 20px rgba($black, 0.1);

  &.large {
    width: 100%;
  }

  .title {
    margin: 0 0 12px;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: $black;

    .dot {
      margin-right: 12px;
      display: block;
      width: 12px;
      height: 12px;
      background-color: $graphy-1;
      border-radius: 50%;
    }
  }

  .sub-title {
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.02em;
    color: $brand-dark;
  }

  .chart {
    margin-top: auto;
  }

  .content {
    margin-top: 28px;
    flex: 1 1 auto;
  }
}

.account-container {
  width: 512px;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  .account-header {
    margin-bottom: 36px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .company {
      display: flex;
      font-weight: 900;
      font-size: 36px;
      line-height: 42px;
      letter-spacing: 0.02em;
      color: $brand-dark;
    }

    i {
      margin-right: 16px;
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        width: 34px;
        height: 34px;
        fill: #c4c4c4;
      }
    }

    a {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      text-align: right;
      letter-spacing: 0.02em;
      text-decoration-line: underline;
      color: $primary-dark-1;
    }
  }

  .account-card {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
    padding: 32px;
    width: 100%;
    height: 512px;
    border-radius: 4px;
    background-color: $white;
    box-shadow: 0 0 20px rgba($black, 0.1);
  }

  .account-greeting {
    margin-bottom: 40px;
    width: 100%;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.02em;
    color: $brand-dark;
  }

  .form-group {
    position: relative;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: $brand-dark;

    & + .form-group {
      margin-top: 24px;
    }

    a {
      position: absolute;
      top: 0;
      right: 0;
      color: $primary-dark-1;
    }

    label {
      margin-bottom: 8px;
    }

    input {
      border: 1px solid $gray-5;
      border-radius: 4px;

      &::placeholder {
        color: $gray-5;
      }
    }
  }

  .custom-checkbox {
    margin: auto 0 20px;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: $gray-2;

    input {
      margin-right: 12px;
      width: 18px;
      height: 18px;
      border: 2px solid #888888;
    }

    a {
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.02em;
      text-decoration-line: underline;
      color: $primary-dark-1;
    }
  }

  button {
    margin-bottom: 24px;
    width: 100%;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: none;
    background: $brand-dark;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.02em;
    color: $white;

    &:disabled {
      background-color: $gray-8;
      color: $gray-6;
      cursor: not-allowed;
    }
  }

  .note {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: $gray-2;

    a {
      margin-left: 16px;
      display: inline-block;
      color: $primary-dark-1;
    }
  }

  .account-footer {
    text-align: center;

    a {
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.02em;
      text-decoration-line: underline;
      color: $primary-dark-1;

      & + a {
        margin-left: 24px;
      }
    }
  }
}

.alert {
  position: fixed;
  top: 64px;
  left: 50%;
  transform: translateX(-50%);
  padding: 14px 16px;
  min-width: 448px;
  background: #ffe9ea;
  border: 1px solid #ff4d4f;
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: $brand-dark;
  filter: drop-shadow(0px 0px 10px rgba($black, 0.2));
}

@media screen and (max-device-width: 480px) {
  .account-container {
    width: 100%;

    .account-card {
      width: 100%;
      min-height: 512px;
    }
  }

  .alert {
    top: 24px;
    left: 24px;
    right: 24px;
    transform: none;
    min-width: 0;
  }
}
